# From https://github.com/trueforge-org/truecharts/blob/master/charts/library/common/values.yaml
# From https://github.com/trueforge-org/truecharts/blob/master/charts/stable/unpackerr/values.yaml
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base
  - secrets/unpackerr-secret-enc.yaml

helmCharts:
  - name: unpackerr
    repo: oci://oci.trueforge.org/truecharts
    releaseName: unpackerr
    namespace: media
    version: 16.14.1
    includeCRDs: true
    valuesInline:
      TZ: America/Los_Angeles
      workload:
        main:
          podSpec:
            containers:
              main:
                env:
                  UN_SONARR_0_URL: https://sonarr.sobrinho.pt
                  UN_SONARR_0_PATHS_0: /data/torrents/tv
                  UN_SONARR_0_API_KEY:
                    secretKeyRef:
                      name: unpackerr-secret
                      key: UN_SONARR_0_API_KEY
                      expandObjectName: false
                  UN_RADARR_0_URL: https://radarr.sobrinho.pt
                  UN_RADARR_0_PATHS_0: /data/torrents/movies
                  UN_RADARR_0_API_KEY:
                    secretKeyRef:
                      name: unpackerr-secret
                      key: UN_RADARR_0_API_KEY
                      expandObjectName: false
      podOptions:
        nodeSelector:
          kubernetes.io/arch: "arm64"
      persistence:
        config:
          enabled: true
          retain: true
          storageClass: "ceph-block"
          accessMode: ReadWriteOnce
          size: 1Gi
        downloads:
          enabled: true
          type: nfs
          path: /data/torrents
          server: infra1
          mountPath: /data/torrents
