# From https://github.com/trueforge-org/truecharts/blob/master/charts/library/common/values.yaml
# From https://github.com/trueforge-org/truecharts/blob/master/charts/stable/apt-cacher-ng/values.yaml
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base
  - ingress-route.yaml

helmCharts:
  - name: apt-cacher-ng
    repo: oci://oci.trueforge.org/truecharts
    releaseName: apt-cacher-ng
    namespace: tools
    version: 11.13.5
    includeCRDs: true
    valuesInline:
      TZ: America/Los_Angeles
      podOptions:
        nodeSelector:
          kubernetes.io/arch: "amd64"
      service:
        main:
          externalTrafficPolicy: Local
          annotations:
            external-dns.alpha.kubernetes.io/hostname: infra-apt
          labels:
            io.cilium/lb-pool: pool-infra-apt
          type: LoadBalancer
      persistence:
        apt-cacher-ng:
          enabled: true
          mountPath: /var/cache/apt-cacher-ng
          retain: true
          accessMode: ReadWriteOnce
          size: 10Gi
          storageClass: "ceph-block"

