# From https://github.com/truecharts/charts/blob/master/charts/stable/plex/values.yaml
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base
  - ingress-route.yaml

helmCharts:
  - name: plex
    repo: oci://tccr.io/truecharts
    releaseName: plex
    namespace: media
    version: 21.0.0
    includeCRDs: true
    valuesInline:
      TZ: America/Los_Angeles
      podOptions:
        defaultAffinity: false
        nodeSelector:
          kubernetes.io/arch: "amd64"
      persistence:
        config:
          enabled: true
          retain: true
          storageClass: "ceph-block"
          accessMode: ReadWriteOnce
          size: 8Gi
        transcode:
          enabled: true
          type: nfs
          path: /data/media/transcode
          server: infra1
          mountPath: /transcode
          size: 16Gi
        media:
          enabled: true
          type: nfs
          path: /data
          server: infra1
          mountPath: /data
      plex:
        additionalAdvertiseURL: "https://plex.sobrinho.pt:443,http://plex.media.svc.cluster.local:32400"
      portal:
        open:
          enabled: false
      resources:
        limits:
          gpu.intel.com/i915: "1"
          cpu: 3000m
          memory: 8Gi
        requests:
          gpu.intel.com/i915: "1"
          cpu: 500m
          memory: 512Mi
      securityContext:
        pod:
          supplementalGroups: [105] # Add render group.
