# From https://github.com/trueforge-org/truecharts/blob/master/charts/library/common/values.yaml
# From https://github.com/trueforge-org/truecharts/blob/master/charts/stable/gitea/values.yaml
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base
  - ingress-route.yaml

helmCharts:
  - name: gitea
    repo: oci://oci.trueforge.org/truecharts
    releaseName: gitea
    namespace: gitea
    version: 22.27.32
    includeCRDs: true
    valuesInline:
      TZ: America/Los_Angeles
      podOptions:
        nodeSelector:
          kubernetes.io/arch: "arm64"
      cnpg:
        main:
          enabled: false
      memcached:
        enabled: false
      metrics:
        main:
          enabled: false
