kind: IngressRoute
apiVersion: traefik.io/v1alpha1
metadata:
  name: prometheus-ingress
  namespace: prometheus
  annotations:
    external-dns.alpha.kubernetes.io/target: infra-int
spec:
  entryPoints:
    - websecure
    - websecure-ext
  routes:
    - match: Host(`prometheus.sobrinho.pt`)
      kind: Rule
      services:
        - name: kube-prometheus-stack-prometheus
          port: 9090
    - match: Host(`alertmanager.sobrinho.pt`)
      kind: Rule
      services:
        - name: kube-prometheus-stack-alertmanager
          port: 9093
    - match: Host(`grafana.sobrinho.pt`)
      kind: Rule
      services:
        - name: kube-prometheus-stack-grafana
          port: 80
    - match: Host(`pushgateway.sobrinho.pt`)
      kind: Rule
      services:
        - name: prometheus-pushgateway
          port: 9091
  tls:
    secretName: prometheus-cert
---
kind: Certificate
apiVersion: cert-manager.io/v1
metadata:
  name: prometheus-cert
  namespace: prometheus
spec:
  secretName: prometheus-cert
  dnsNames:
    - prometheus.sobrinho.pt
    - alertmanager.sobrinho.pt
    - grafana.sobrinho.pt
    - pushgateway.sobrinho.pt
  issuerRef:
    name: letsencrypt-prod
    kind: ClusterIssuer
