apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base
  - ingress-route.yaml

helmCharts:
  - name: kube-prometheus-stack
    repo: https://prometheus-community.github.io/helm-charts
    releaseName: kube-prometheus-stack
    namespace: prometheus
    version: 81.2.2
    includeCRDs: true
    # From https://github.com/prometheus-community/helm-charts/blob/main/charts/kube-prometheus-stack/values.yaml
    valuesFile: values.yaml

  - name: prometheus-pushgateway
    repo: https://prometheus-community.github.io/helm-charts
    releaseName: prometheus-pushgateway
    namespace: prometheus
    version: 3.6.0
    includeCRDs: true
    valuesInline:
      # From https://github.com/prometheus-community/helm-charts/blob/main/charts/prometheus-pushgateway/values.yaml
      serviceMonitor:
        enabled: true
        namespace: prometheus
      service:
        type: LoadBalancer
      serviceAnnotations:
        external-dns.alpha.kubernetes.io/hostname: infra-prometheus
      serviceLabels:
        io.cilium/lb-pool: pool-infra-prometheus
      resources:
        limits:
          cpu: 200m
          memory: 100Mi
        requests:
          cpu: 100m
          memory: 30Mi
