nameOverride: prometheus

defaultRules:
  create: true
  rules:
    alertmanager: true
    etcd: true
    configReloaders: true
    general: true
    k8s: true
    kubeApiserverAvailability: true
    kubeApiserverBurnrate: true
    kubeApiserverHistogram: true
    kubeApiserverSlos: true
    kubelet: true
    kubePrometheusGeneral: true
    kubePrometheusNodeRecording: true
    kubernetesApps: true
    kubernetesResources: true
    kubernetesStorage: true
    kubernetesSystem: true
    kubeStateMetrics: true
    network: true
    node: true
    nodeExporterAlerting: true
    nodeExporterRecording: true
    prometheus: true
    prometheusOperator: true
    # Disabled.
    kubeControllerManager: false
    kubeProxy: false
    kubeSchedulerAlerting: false
    kubeSchedulerRecording: false

prometheus:
  prometheusSpec:
    externalUrl: https://prometheus.sobrinho.pt
    replicas: 1
    ruleSelectorNilUsesHelmValues: false
    serviceMonitorSelectorNilUsesHelmValues: false
    podMonitorSelectorNilUsesHelmValues: false
    probeSelectorNilUsesHelmValues: false
    retention: 2d
    enableAdminAPI: true
    walCompression: true
    additionalArgs:
      - name: storage.tsdb.no-lockfile # To avoid issues when the container is forced killed.
    maximumStartupDurationSeconds: 2400 # 40 minutes to allow for WAL replay on large datasets.
    resources:
      limits:
        cpu: 2500m
        memory: 3.5Gi
      requests:
        cpu: 500m
        memory: 512Mi
    storageSpec:
      volumeClaimTemplate:
        spec:
          storageClassName: ceph-block
          accessModes: ["ReadWriteOnce"]
          resources:
            requests:
              storage: 32Gi

containers:
  - name: prometheus
    startupProbe:
      failureThreshold: 1000 # To allow for WAL replay on large datasets.

alertmanager:
  alertmanagerSpec:
    externalUrl: https://alertmanager.sobrinho.pt
    storage:
      volumeClaimTemplate:
        spec:
          storageClassName: ceph-block
          accessModes: ["ReadWriteOnce"]
          resources:
            requests:
              storage: 5Gi

grafana:
  defaultDashboardsTimezone: America/Los_Angeles

kube-state-metrics:
  selfMonitor:
    enabled: true

cleanPrometheusOperatorObjectNames: true

prometheusOperator:
  # Disable linkerd injection for admission webhooks jobs
  admissionWebhooks:
    patch:
      podAnnotations:
        linkerd.io/inject: disabled

# Enable serviceaccount automount
prometheus-node-exporter:
  serviceAccount:
    automountServiceAccountToken: true
  tolerations:
    - key: node.kubernetes.io/unreachable
      effect: NoExecute
      operator: Exists
      tolerationSeconds: 60

kubeControllerManager:
  enabled: false

kubeScheduler:
  enabled: false

kubeProxy:
  enabled: false
