nameOverride: prometheus

defaultRules:
  create: true
  rules:
    alertmanager: true
    etcd: true
    configReloaders: true
    general: true
    k8s: true
    kubeApiserverAvailability: true
    kubeApiserverBurnrate: true
    kubeApiserverHistogram: true
    kubeApiserverSlos: true
    kubeControllerManager: true
    kubelet: true
    kubeProxy: true
    kubePrometheusGeneral: true
    kubePrometheusNodeRecording: true
    kubernetesApps: true
    kubernetesResources: true
    kubernetesStorage: true
    kubernetesSystem: true
    kubeSchedulerAlerting: true
    kubeSchedulerRecording: true
    kubeStateMetrics: true
    network: true
    node: true
    nodeExporterAlerting: true
    nodeExporterRecording: true
    prometheus: true
    prometheusOperator: true

prometheus:
  prometheusSpec:
    externalUrl: https://prometheus.sobrinho.pt
    replicas: 1
    ruleSelectorNilUsesHelmValues: false
    serviceMonitorSelectorNilUsesHelmValues: false
    podMonitorSelectorNilUsesHelmValues: false
    probeSelectorNilUsesHelmValues: false
    retention: 2d
    enableAdminAPI: true
    walCompression: true
    additionalArgs:
      - name: storage.tsdb.no-lockfile # To avoid issues when the container is forced killed.
    maximumStartupDurationSeconds: 1800 # 30 minutes to allow for WAL replay on large datasets.
    resources:
      limits:
        memory: 2.5Gi
      requests:
        memory: 512Mi
    storageSpec:
      volumeClaimTemplate:
        spec:
          storageClassName: ceph-block
          accessModes: ["ReadWriteOnce"]
          resources:
            requests:
              storage: 32Gi

alertmanager:
  alertmanagerSpec:
    externalUrl: https://alertmanager.sobrinho.pt
    storage:
      volumeClaimTemplate:
        spec:
          storageClassName: ceph-block
          accessModes: ["ReadWriteOnce"]
          resources:
            requests:
              storage: 5Gi

grafana:
  defaultDashboardsTimezone: America/Los_Angeles

kube-state-metrics:
  selfMonitor:
    enabled: true

cleanPrometheusOperatorObjectNames: true

prometheusOperator:
  # Disable linkerd injection for admission webhooks jobs
  admissionWebhooks:
    patch:
      podAnnotations:
        linkerd.io/inject: disabled

# Enable Prometheus Pushgateway for short-lived jobs
prometheus-pushgateway:
  enabled: true
  serviceMonitor:
    enabled: true

# Enable serviceaccount automount
prometheus-node-exporter:
  serviceAccount:
    automountServiceAccountToken: true
  tolerations:
    - key: node.kubernetes.io/unreachable
      effect: NoExecute
      operator: Exists
      tolerationSeconds: 60
