# From https://github.com/trueforge-org/truecharts/blob/master/charts/library/common/values.yaml
# From https://github.com/trueforge-org/truecharts/blob/master/charts/stable/esphome/values.yaml
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base
  - ingress-route.yaml

helmCharts:
  - name: esphome
    repo: oci://oci.trueforge.org/truecharts
    releaseName: esphome
    namespace: esphome
    version: 24.0.8
    includeCRDs: true
    valuesInline:
      TZ: America/Los_Angeles
      podOptions:
        nodeSelector:
          kubernetes.io/arch: "arm64"
        hostNetwork: true
      persistence:
        config:
          enabled: true
          retain: true
          mountPath: /config
          storageClass: "ceph-block"
          accessMode: ReadWriteOnce
          size: 256Mi
        platformio:
          enabled: true
          retain: true
          mountPath: /root/.platformio
          storageClass: "ceph-block"
          accessMode: ReadWriteOnce
          size: 8Gi
        cache:
          enabled: true
          retain: true
          storageClass: "ceph-block"
          accessMode: ReadWriteOnce
          size: 24Gi
        build:
          enabled: true
          type: emptyDir
          size: 12Gi
        dev:
          enabled: true
          type: nfs
          path: /data/dev/esphome
          server: infra1
          mountPath: /development
      resources:
        limits:
          cpu: 3000m
          memory: 1500Mi
        requests:
          cpu: 750m
          memory: 200Mi
