# From https://github.com/truecharts/charts/blob/master/charts/stable/esphome/values.yaml
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base
  - ingress-route.yaml

helmCharts:
  - name: esphome
    repo: oci://tccr.io/truecharts
    releaseName: esphome
    namespace: esphome
    version: 23.19.2
    includeCRDs: true
    valuesInline:
      TZ: America/Los_Angeles
      podOptions:
        nodeSelector:
          kubernetes.io/arch: "arm64"
        hostNetwork: true
      persistence:
        config:
          enabled: true
          retain: true
          mountPath: /config
          storageClass: "ceph-block"
          accessMode: ReadWriteOnce
          size: 256Mi
        platformio:
          enabled: true
          retain: true
          mountPath: /root/.platformio
          storageClass: "ceph-block"
          accessMode: ReadWriteOnce
          size: 8Gi
        cache:
          enabled: true
          retain: true
          storageClass: "ceph-block"
          accessMode: ReadWriteOnce
          size: 8Gi
        build:
          enabled: true
          type: emptyDir
          size: 8Gi
      resources:
        limits:
          cpu: 3000m
          memory: 1Gi
        requests:
          cpu: 75m
          memory: 200Mi
