# From https://github.com/truecharts/charts/blob/master/charts/stable/it-tools/values.yaml
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base
  - ingress-route.yaml

helmCharts:
  - name: it-tools
    repo: oci://tccr.io/truecharts
    releaseName: it-tools
    namespace: tools
    version: 8.11.3
    includeCRDs: true
    valuesInline:
      TZ: America/Los_Angeles
      podOptions:
        nodeSelector:
          kubernetes.io/arch: "arm64"
