# From https://github.com/trueforge-org/truecharts/blob/master/charts/library/common/values.yaml
# From https://github.com/trueforge-org/truecharts/blob/master/charts/stable/prowlarr/values.yaml
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base
  - ingress-route.yaml

helmCharts:
  - name: prowlarr
    repo: oci://oci.trueforge.org/truecharts
    releaseName: prowlarr
    namespace: media
    version: 21.4.2
    includeCRDs: true
    valuesInline:
      TZ: America/Los_Angeles
      podOptions:
        nodeSelector:
          kubernetes.io/arch: "arm64"
      service:
        metrics:
          enabled: false
      exportarr:
        enabled: false
      persistence:
        config:
          enabled: true
          retain: true
          storageClass: "ceph-block"
          accessMode: ReadWriteOnce
          size: 5Gi
      metrics:
        main:
          enabled: false
      configmap:
        dashboard:
          enabled: false
