# From https://github.com/argoproj/argo-helm/blob/main/charts/argo-cd/values.yaml
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base
  - ingress-route.yaml

helmCharts:
  - name: argo-cd
    repo: https://argoproj.github.io/argo-helm
    releaseName: argocd
    namespace: argocd
    version: 9.4.1
    includeCRDs: true
    valuesInline:
      global:
        domain: argocd.sobrinho.pt
        env:
          - name: TZ
            value: America/Los_Angeles
      configs:
        params:
          server.insecure: true
        cm:
          accounts.monitoring: apiKey
          accounts.node-red: apiKey
          exec.enabled: true
          kustomize.buildOptions: --enable-helm --enable-alpha-plugins --enable-exec
          resource.customizations.ignoreDifferences.apps_Deployment: |
            jqPathExpressions:
              - '.spec.template.spec.hostUsers'
          resource.exclusions: |
            - apiGroups:
              - "velero.io"
              kinds:
              - "Backup"
              clusters:
              - "*"
        rbac:
          policy.csv: |
            # Global monitoring role with read access to everything
            p, role:monitoring-ro, applications, get, */*, allow
            p, role:monitoring-ro, applications, list, */*, allow
            p, role:monitoring-ro, clusters, get, *, allow
            p, role:monitoring-ro, clusters, list, *, allow
            p, role:monitoring-ro, projects, get, *, allow
            p, role:monitoring-ro, projects, list, *, allow
            p, role:monitoring-ro, repositories, get, *, allow
            p, role:monitoring-ro, repositories, list, *, allow
            p, role:monitoring-ro, logs, get, */*, allow

            # Assign monitoring account to the role
            g, monitoring, role:monitoring-ro

            # Allow node-red to restart its own deployment
            p, role:node-red, applications, get, default/node-red, allow
            p, role:node-red, applications, action/apps/Deployment/restart, default/node-red, allow

            # Assign node-red account to the role
            g, node-red, role:node-red
      controller:
        metrics:
          enabled: true
          serviceMonitor:
            enabled: true
      repoServer:
        metrics:
          enabled: true
          serviceMonitor:
            enabled: true
