# From https://github.com/kubernetes-sigs/descheduler/blob/master/charts/descheduler/values.yaml
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base

helmCharts:
  - name: descheduler
    repo: https://kubernetes-sigs.github.io/descheduler/
    releaseName: descheduler
    namespace: kube-system
    version: 0.34.0
    includeCRDs: true
    valuesInline:
      kind: Deployment
      deschedulerPolicyAPIVersion: descheduler/v1alpha2
      deschedulerPolicy:
        metricsProviders:
          - source: KubernetesMetrics
        profiles:
          - name: Default
            pluginConfig:
              - name: DefaultEvictor
                podProtections:
                  defaultDisabled:
                    - FailedBarePods
                    - PodsWithLocalStorage
                    - SystemCriticalPods
              - name: LowNodeUtilization
                args:
                  metricsUtilization:
                    source: KubernetesMetrics
                  thresholds:
                    cpu: 20
                    memory: 20
                    pods: 20
                  targetThresholds:
                    cpu: 50
                    memory: 50
                    pods: 50
              - name: RemoveFailedPods
                args:
                  reasons:
                    - ContainerStatusUnknown
                    - NodeAffinity
                    - NodeShutdown
                    - Terminated
                    - UnexpectedAdmissionError
                  includingInitContainers: true
                  excludeOwnerKinds:
                    - Job
                  minPodLifetimeSeconds: 1800
              - name: RemovePodsViolatingInterPodAntiAffinity
              - name: RemovePodsViolatingNodeAffinity
                args:
                  nodeAffinityType:
                    - requiredDuringSchedulingIgnoredDuringExecution
              - name: RemovePodsViolatingNodeTaints
              - name: RemovePodsViolatingTopologySpreadConstraint
            plugins:
              balance:
                enabled:
                  - LowNodeUtilization
                  - RemovePodsViolatingTopologySpreadConstraint
              deschedule:
                enabled:
                  - RemoveFailedPods
                  - RemovePodsViolatingInterPodAntiAffinity
                  - RemovePodsViolatingNodeAffinity
                  - RemovePodsViolatingNodeTaints
