apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base

helmCharts:
  # From https://github.com/intel/helm-charts/blob/main/charts/device-plugin-operator/values.yaml
  - name: intel-device-plugins-operator
    repo: https://intel.github.io/helm-charts
    releaseName: intel-device-plugins-operator
    namespace: infra
    version: 0.34.1
    includeCRDs: true

  # From https://github.com/intel/helm-charts/blob/main/charts/gpu-device-plugin/values.yaml
  - name: intel-device-plugins-gpu
    repo: https://intel.github.io/helm-charts
    releaseName: intel-device-plugins-gpu
    namespace: infra
    version: 0.35.0
    includeCRDs: true
    valuesInline:
      sharedDevNum: 3
      nodeFeatureRule: true