# From https://github.com/kriegalex/k8s-charts/blob/main/charts/bentopdf/values.yaml
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base
  - ingress-route.yaml

labels:
  - includeSelectors: true
    pairs:
      app.kubernetes.io/version: 1.15.4

helmCharts:
  - name: bentopdf
    repo: https://kriegalex.github.io/k8s-charts
    releaseName: bentopdf
    namespace: tools
    version: 1.1.0
    includeCRDs: true
    valuesInline:
      image:
        repository: bentopdf/bentopdf-simple
        pullPolicy: IfNotPresent
        tag: "v1.15.4@sha256:ed728002dede243e99da3b5f66a88ef4aa842962d5fc1313a75ab841cc9af237"
      config:
        logLevel: INFO # -- Log level: DEBUG, INFO, WARNING, ERROR
      resources:
        limits:
          cpu: 500m
          memory: 512Mi
        requests:
          cpu: 250m
          memory: 128Mi
      # Persistent storage configuration for temporary files
      persistence:
        enabled: true
        storageClass: ceph-block
        accessMode: ReadWriteOnce
        size: 5Gi
        mountPath: /tmp/bentopdf

patches:
  - target:
      kind: Deployment
      name: bentopdf
    patch: |-
      - op: add
        path: /spec/template/spec/nodeSelector
        value:
          kubernetes.io/arch: "arm64"
      - op: add
        path: /spec/template/spec/containers/0/env/-
        value:
          name: TZ
          value: "America/Los_Angeles"
  - patch: |-
      apiVersion: v1
      kind: Pod
      metadata:
        name: bentopdf-test-connection
      $patch: delete
