# From: https://github.com/truecharts/charts/blob/master/charts/stable/qbittorrent/values.yaml
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base
  - gluetun-auth-config.yaml
  - ingress-route.yaml
  - secrets/vpn-secret-enc.yaml

helmCharts:
  - name: qbittorrent
    repo: oci://oci.trueforge.org/truecharts
    releaseName: qbittorrent
    namespace: media
    version: 24.2.17
    includeCRDs: true
    valuesInline:
      TZ: America/Los_Angeles
      podOptions:
        defaultAffinity: false
        nodeSelector:
          kubernetes.io/arch: "arm64"
      qbitportforward:
        enabled: true
        QBT_USERNAME: ""
        QBT_PASSWORD: ""
      persistence:
        config:
          enabled: true
          retain: true
          storageClass: ceph-block
          accessMode: ReadWriteOnce
          size: 1Gi
        data:
          enabled: true
          type: nfs
          path: /data
          server: infra1
          mountPath: /data
        gluetun-auth:
          enabled: true
          type: configmap
          objectName: gluetun-auth-config
          expandObjectName: false
          mountPath: /gluetun/auth
          targetSelector:
            main:
              main:
                enabled: false
              gluetun:
                enabled: true
      gluetunImage:
        repository: ghcr.io/qdm12/gluetun
        tag: v3.41
        pullPolicy: IfNotPresent
      workload:
        qbitportforward:
          podSpec:
            nodeSelector:
              kubernetes.io/arch: "amd64"
            containers:
              qbitportforward:
                resources:
                  limits:
                    memory: 256Mi
                    cpu: 250m
                  requests:
                    memory: 128Mi
                    cpu: 100m
      service:
        proxy:
          enabled: true
          ports:
            gluetun-proxy:
              enabled: true
              port: 8888
              protocol: "http"
              targetPort: 8888
          type: "ClusterIP"
      addons:
        gluetun:
          enabled: true
          container:
            env:
              DNS_KEEP_NAMESERVER: off
              VPN_PORT_FORWARDING_PROVIDER: protonvpn
              VPN_PORT_FORWARDING: on
              VPN_TYPE: wireguard
              VPN_SERVICE_PROVIDER: custom
              FIREWALL: "on"
              FIREWALL_OUTBOUND_SUBNETS: "10.10.2.0/24"
              FIREWALL_INPUT_PORTS: 10095,8888,8000
              WIREGUARD_ENDPOINT_IP:
                secretKeyRef:
                  name: vpn-secret
                  key: WIREGUARD_ENDPOINT_IP
                  expandObjectName: false
              WIREGUARD_ENDPOINT_PORT:
                secretKeyRef:
                  name: vpn-secret
                  key: WIREGUARD_ENDPOINT_PORT
                  expandObjectName: false
              WIREGUARD_PUBLIC_KEY:
                secretKeyRef:
                  name: vpn-secret
                  key: WIREGUARD_PUBLIC_KEY
                  expandObjectName: false
              WIREGUARD_PRIVATE_KEY:
                secretKeyRef:
                  name: vpn-secret
                  key: WIREGUARD_PRIVATE_KEY
                  expandObjectName: false
              WIREGUARD_ADDRESSES:
                secretKeyRef:
                  name: vpn-secret
                  key: WIREGUARD_ADDRESSES
                  expandObjectName: false
              HTTPPROXY: "on"
              HTTPPROXY_LOG: "on"
              HTTPPROXY_LISTENING_ADDRESS: ":8888"
patches:
  - patch: |-
      - op: remove
        path: /spec/jobTemplate/spec/template/spec/hostUsers
        value: true
    target:
      group: batch
      version: v1
      kind: CronJob
      name: qbittorrent-qbitportforward
