# From https://github.com/trueforge-org/truecharts/blob/master/charts/library/common/values.yaml
# From https://github.com/trueforge-org/truecharts/blob/master/charts/stable/node-red/values.yaml
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base
  - ingress-route.yaml
  - secrets/node-red-secret-enc.yaml

helmCharts:
  - name: node-red
    repo: oci://oci.trueforge.org/truecharts
    releaseName: node-red
    namespace: node-red
    version: 22.14.18
    includeCRDs: true
    valuesInline:
      TZ: America/Los_Angeles
      workload:
        main:
          podSpec:
            containers:
              main:
                env:
                  NODE_RED_CREDENTIAL_SECRET:
                    secretKeyRef:
                      name: node-red-secret
                      key: credential_secret
                      expandObjectName: false
      securityContext:
        container:
          runAsUser: 1000
          runAsGroup: 568
      podOptions:
        nodeSelector:
          kubernetes.io/arch: "arm64"
      persistence:
        data:
          enabled: true
          retain: true
          storageClass: ceph-block
          accessMode: ReadWriteOnce
          size: 2Gi
