apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base
  - cluster-issues.yaml
  - certificates.yaml

helmCharts:
  - name: cert-manager
    repo: https://charts.jetstack.io
    releaseName: cert-manager
    namespace: cert-manager
    version: v1.19.2
    includeCRDs: true
    valuesInline:
      crds:
        enabled: true
      extraEnv:
        - name: TZ
          value: America/Los_Angeles
      replicaCount: 1
      dns01RecursiveNameservers: "1.1.1.1:53,8.8.8.8:53"
      dns01RecursiveNameserversOnly: true
      prometheus:
        servicemonitor:
          enabled: true
      podDnsPolicy: None
      podDnsConfig:
        nameservers:
          - 1.1.1.1
          - 8.8.8.8
