---
customization:
  extraKernelArgs:
    - console=ttyS0,115200n8
  systemExtensions:
    officialExtensions:
      - siderolabs/qemu-guest-agent
      - siderolabs/drbd # Miroir DRBD9 Replication
      - siderolabs/nfsrahead # NFS readahead (see nfs.conf in cluster.yaml.j2)
