# From https://github.com/pajikos/home-assistant-helm-chart/blob/main/charts/home-assistant/values.yaml
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base
  - ingress-route.yaml

helmCharts:
  - name: home-assistant
    repo: http://pajikos.github.io/home-assistant-helm-chart/
    releaseName: home-assistant
    namespace: home-assistant
    version: 0.3.43
    includeCRDs: true
    valuesInline:
      env:
        - name: TZ
          value: America/Los_Angeles
      service:
        type: LoadBalancer
        port: 8123
        annotations:
          external-dns.alpha.kubernetes.io/hostname: infra-home-assistant
      hostPort:
        enabled: true
        port: 8123
      hostNetwork: true
      dnsPolicy: ClusterFirstWithHostNet
      nodeSelector:
        kubernetes.io/arch: arm64
        feature.node.kubernetes.io/usb-zigbee.present: "true"
      securityContext:
        privileged: true
      persistence:
        enabled: true
        retain: true
        accessMode: ReadWriteOnce
        size: 8Gi
        storageClass: "ceph-block"
      additionalVolumes:
        - hostPath:
            path: /dev/serial/by-id/usb-ITEAD_SONOFF_Zigbee_3.0_USB_Dongle_Plus_V2_20230831101002-if00
            type: CharDevice
          name: usb-zigbee
        - hostPath:
            path: /run/dbus
            type: Directory
          name: dbus
      additionalMounts:
        - mountPath: /dev/serial/by-id/usb-ITEAD_SONOFF_Zigbee_3.0_USB_Dongle_Plus_V2_20230831101002-if00
          name: usb-zigbee
        - mountPath: /run/dbus
          name: dbus
      addons:
        codeserver:
          enabled: true

patches:
  - patch: |-
      - op: add
        path: /spec/volumeClaimTemplates/0/apiVersion
        value: v1
      - op: add
        path: /spec/volumeClaimTemplates/0/kind
        value: PersistentVolumeClaim
      - op: add
        path: /spec/template/spec/containers/1/securityContext/runAsUser
        value: 0
    target:
      group: apps
      version: v1
      kind: StatefulSet
      name: home-assistant
  - patch: |-
      - op: add
        path: /metadata/labels/io.cilium~1lb-pool
        value: pool-infra-home-assistant
    target:
      version: v1
      kind: Service
      name: home-assistant
