# From https://github.com/truecharts/charts/blob/master/charts/stable/zwavejs2mqtt/values.yaml
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base
  - ingress-route.yaml

helmCharts:
  - name: zwavejs2mqtt
    repo: oci://tccr.io/truecharts
    releaseName: zwavejs2mqtt
    namespace: home-assistant
    version: 24.18.3
    includeCRDs: true
    valuesInline:
      TZ: America/Los_Angeles
      podOptions:
        nodeSelector:
          kubernetes.io/arch: "arm64"
          feature.node.kubernetes.io/usb-zwave.present: "true"
      service:
        ws:
          enabled: true
          type: NodePort # HomeAssistant uses host networking.
          ports:
            ws:
              enabled: true
              nodePort: 30046
              targetPort: 3000
      securityContext:
        container:
          readOnlyRootFilesystem: true
          privileged: true
          runAsNonRoot: false
          runAsGroup: 0
          runAsUser: 0
      persistence:
        config:
          enabled: true
          retain: true
          storageClass: "ceph-block"
          accessMode: ReadWriteOnce
          size: 1Gi
        usb-zwave:
          enabled: true
          type: hostPath
          mountPath: /dev/serial/by-id/usb-Zooz_800_Z-Wave_Stick_533D004242-if00
          hostPath: /dev/serial/by-id/usb-Zooz_800_Z-Wave_Stick_533D004242-if00
          hostPathType: CharDevice
