apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base
  - certificate.yaml
  - middleware-auth-basic.yaml
  - middleware-auth-forward.yaml
  - middleware-secure-headers.yaml
  - service-external.yaml
  - service-mqtt.yaml
  - tls-option-none.yaml
  - tls-option-requested.yaml
  - tls-option-required.yaml
  - transport-insecure.yaml
  - secrets/middleware-auth-basic-secret-enc.yaml
  - secrets/middleware-auth-forward-secret-enc.yaml
  - secrets/tls-ca-secret-enc.yaml

configMapGenerator:
  - name: middleware-auth-forward-config
    namespace: traefik
    files:
      - rules/middleware-auth-forward.ini

helmCharts:
  - name: traefik
    repo: https://traefik.github.io/charts
    releaseName: traefik
    namespace: traefik
    version: 37.3.0
    includeCRDs: true
    valuesFile: values.yaml
    apiVersions:
      - monitoring.coreos.com/v1
