# From https://github.com/traefik/traefik-helm-chart/blob/master/traefik/values.yaml
global:
  checkNewVersion: false
  sendAnonymousUsage: false

env:
  - name: TZ
    value: America/Los_Angeles

logs:
  general:
    level: INFO

deployment:
  kind: DaemonSet

ports:
  web:
    port: 8000
    expose:
      default: true
    exposedPort: 80
    redirections:
      entryPoint:
        to: websecure
        scheme: https
        permanent: true
  websecure:
    port: 8443
    expose:
      default: true
    exposedPort: 443
    http:
      tls:
        enabled: true
    http3:
      enabled: true
      advertisedPort: 443
  websecure-ext:
    port: 9443
    expose:
      default: false
    exposedPort: 443
    http:
      tls:
        enabled: true
        options: "traefik-mtls-required"
      middlewares:
        - traefik-middleware-auth-forward@kubernetescrd
    http3:
      enabled: true
      advertisedPort: 443
  mqtt:
    port: 9883
    expose:
      default: false
    exposedPort: 1883

tolerations:
  - key: node.kubernetes.io/unreachable
    effect: NoExecute
    operator: Exists
    tolerationSeconds: 60

service:
  annotations:
    lbipam.cilium.io/sharing-key: infra-int
    lbipam.cilium.io/sharing-cross-namespace: "*"
    external-dns.alpha.kubernetes.io/hostname: infra-int
  labels:
    io.cilium/lb-pool: pool-infra-int

ingressRoute:
  dashboard:
    enabled: true
    annotations:
      external-dns.alpha.kubernetes.io/target: infra-int
    matchRule: Host(`traefik.sobrinho.pt`)
    services:
      - name: api@internal
        kind: TraefikService
    entryPoints:
      - websecure
      - websecure-ext
    tls:
      secretName: traefik-cert

providers:
  kubernetesCRD:
    allowExternalNameServices: true
    allowCrossNamespace: true

tlsStore:
  default:
    defaultCertificate:
      secretName: letsencrypt-prod-crt

metrics:
  prometheus:
    serviceMonitor:
      enabled: true
